server:
  port: 8081

spring:
  application:
    name: experiment-service
  
  datasource:
    url: jdbc:h2:mem:experimentdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  kafka:
    bootstrap-servers: localhost:9092

kafka:
  topic:
    experiment-events: coffee-experiment-events

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.coffeebrewlab: DEBUG
    org.apache.kafka: WARN

